page-play {
    @media only screen and (min-width: 1024px) {
        .pad-row {
            margin-left: 120px;
            margin-right: 120px; 
        }  
    }

    @media only screen and (min-width: 765px) {
        .pad-row {
            margin-left: 100px;
            margin-right: 100px; 
        }  
    }
    .bg {
        background-color: #48508e;
    }
    .right {
        float: right
    }
    .pad-row {
        padding: 30px 40px 30px 40px;
    }
    ion-icon {
        font-size: 40px;
    }
    .bottomNav {
        width: 100%;
        height: 0px;
        background: white;
        overflow: hidden;
        transition: height 0.5s 0.2s;
    }

    .text-nav{
        font-weight: normal;
        color: rgb(255, 255, 255);
        margin-top: 1.3rem;
    }

    .loading {
        margin-top:auto;
        margin-bottom: auto; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #notification-button {            
        position: relative;
        width: 55px;
        height: 46px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


    #notifications-badge {
        background-color: #00b33c;
        position: absolute;
        top: 0.1px;
        right: -0.4px;
        border-radius: 100%;
    }
}