page-mode {
    @media only screen and (min-width: 1024px) {
        .pad-row {
            // margin-top: 90px;
            margin-left: 120px;
            margin-right: 120px; 
        }  
    }

    @media only screen and (min-width: 765px) {
        .pad-row {
            // margin-top: 90px;
            margin-left: 100px;
            margin-right: 100px; 
        }  
    }
    .bg {
        background: linear-gradient(to bottom, #48508e 0%, #d65555 100%)
    }
    .center {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-bottom: 5px;
        height: 100%;
    }
    ion-col {
        margin: 25px 50px 75px 100px;
    }
    .pad-row {
        padding: 90px 55px 60px 55px;
    }
    .pad-col {
        padding: 20px 0px 20px 0px;
    }
    .text-nav{
        font-weight: normal;
        color: rgb(0, 0, 0);
        margin-top: 1.3rem;
    }
}