page-study {
    .img-2{
        width: 330px;
        height: 330px;
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
        margin: auto;
    }
    .grid-main{
        margin-top: 70px;
    }
}
